rules_version = '2'

service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null
    }

    function isOwner() {
      return isSignedIn() && resource.data.createdBy == request.auth.uid
    }

    function isCreatingAsOwner() {
      return isSignedIn() && request.resource.data.createdBy == request.auth.uid
    }

    function isKeepingOwner() {
      return isOwner() && request.resource.data.createdBy == resource.data.createdBy
    }

    function canGetOwnedOrMissing(version, col, docId) {
      return isSignedIn() && (
        !exists(/databases/$(database)/documents/versions/$(version)/$(col)/$(docId))
        || resource.data.createdBy == request.auth.uid
      )
    }

    match /versions/{version}/products/{productId} {
      allow get: if canGetOwnedOrMissing(version, "products", productId)
      allow list: if isOwner()
      allow create: if isCreatingAsOwner()
      allow update: if isKeepingOwner()
    }

    match /versions/{version}/scenes/{sceneId} {
      allow get: if canGetOwnedOrMissing(version, "scenes", sceneId)
      allow list: if isOwner()
      allow create: if isCreatingAsOwner()
      allow update: if isKeepingOwner()
    }

    match /versions/{version}/meta/{docId} {
      allow read, write: if isSignedIn()
    }

    match /versions/{version}/state/{stateId} {
      allow read, write: if false
    }
  }
}
